:host {
  $purple: #f237b4;
  $pink: #fa7c91;
  $gray: #FAC8CD;

  .overall {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      font-weight: bold;
      background-image: linear-gradient(to right, $pink, $purple);
      color: white;
      font-size: 3rem;
      margin-bottom: 30px;
      width: 100%;
    }

    .input-group {
      display: flex;
      gap: 120px;
      margin-bottom: 30px;

      ::ng-deep .p-inputgroup {
        display: flex;
        justify-content: center;
      }

      .input-info {
        width: 250px;
        height: 45px;
        font-size: 20px;
      }
    }

    .add-btn {
      margin-bottom: 30px;
    }

    .table {
      width: 80%;
      
      .header {
        background-image: linear-gradient(to right, $pink, $purple);
        color: white;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
      }

      .total-content {
        background-color: $gray;
        border-radius: 0 0 10px 10px;

        .content {
          font-size: 20px;
          text-align: center;
          padding: 15px 0;
        }
      }
    }
  }
}