<div class="overall">

  <h1 class="heading">OUR NOTE</h1>

  <div class="input-group">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input
        pInputText
        placeholder="Who are you?"
        class="input-info"
        [(ngModel)]="name"
        (keydown.enter)="onAdd()"
      />
    </p-inputGroup>

    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input
        pInputText
        placeholder="What's on your mind?"
        class="input-info"
        [(ngModel)]="objective"
        (keydown.enter)="onAdd()"
      />
    </p-inputGroup>
  </div>

  <p-button class="add-btn" label="ADD" (onClick)="onAdd()" />

  <div class="table">
    <p-table
      class="tableObjective"
      [value]="listObjective"
      [tableStyle]="{ 'min-width': '50rem' }"
      [resizableColumns]="true" 
    >
      <ng-template pTemplate="header" let-listObjective>
        <tr>
          <th class="header" style="border-radius: 10px 0 0 0" pResizableColumn>Name</th>
          <th class="header" style="border-radius: 0 10px 0 0" pResizableColumn>Objective</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listObjective>
        <tr class="total-content">
          <td class="content">{{ listObjective.name }}</td>
          <td class="content">{{ listObjective.objective }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
